.input-label {
	padding: 0px 0px @padding/2 @padding/2;
}

input,
select,
textarea {
	border: solid @borderWidth @borderColor;
	padding: @padding/2 @padding/2;
	border-radius: 4px;
	display: inline-block;
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: @textColor;
	font-size: @defaultFontSize;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	width: 100%;
	margin-bottom: @padding;
	background: @pureWhite;
	&:focus {
		border-color: @lightBlue;
		outline: none;
	}
	&.without-bottom-margin {
		margin-bottom: 0px;
	}
}

input[type='checkbox'] {
	width: auto;
	margin: 0px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkbox-wrap {
	display: flex;
	margin-bottom: @padding;
	align-items: center;
	.checkbox-label {
		margin-left: @padding/2;
	}
}

.model-input-group {
	margin-bottom: @padding;
	border-bottom: solid @borderWidth @borderColor;
	&:last-child {
		border-bottom: 0px;
		margin-bottom: 0px;
	}
}

.editor-wrap {
	height: 200px;
	overflow: hidden;
	border: solid @borderWidth @borderColor;
	border-radius: 4px;
	margin-bottom: @padding;
	background: @pureWhite;
	padding: @padding/2 @padding/2;
	position: relative;
}
.ace_editor {
	display: inline-block;
	font-size: 1em;
	font-family: 'Roboto Mono', sans-serif;
	color: @textColor;
	font-size: @defaultFontSize;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}