// Scaffolding

@defaultFontSize: 16px;
@smallFontSize: 0.8em;
@defaultFontFamily: 'Work Sans', sans-serif;;
@monospaceFontFamily: 'Inconsolata', sans-serif;

@padding: 1rem;
@borderWidth: 1px;

// Colours

@pureWhite: rgb(255, 255, 255);
@white: rgba(243, 247, 249, 1);
@appBackground: rgba(252, 252, 252, 1);
@textColor: rgba(68, 75, 93, 1);

@borderColor: rgba(214, 220, 225, 1);

@blue: darken(rgba(85, 182, 213, 1), 10%);
@lightBlue: lighten(rgb(88, 54, 228), 20%);
@blueHover: darken(@blue, 20%);

@borderRadius: 4px;